# Виртуальное окружение
.venv/

# Секреты
.env
.env
.env.txt
.env.py

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Данные (большие файлы)
data/raw/

# Сохранённые модели
models/saved/

# Логи
logs/

# PyCharm
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/